---
import PortfolioLayout from "@layouts/portfolio-layout.astro";
import { Image } from "astro:assets";
import frontpage from "@assets/lahiruoka-shop/desktop-and-mobile.png";
import changelocation from "@assets/lahiruoka-shop/change-location.png";
import register from "@assets/lahiruoka-shop/register.png";
import products from "@assets/lahiruoka-shop/products.png";
import producers from "@assets/lahiruoka-shop/producers.png";
import producer from "@assets/lahiruoka-shop/producer.png";
import category from "@assets/lahiruoka-shop/category.png";
import product from "@assets/lahiruoka-shop/product.png";
import shoppingbag from "@assets/lahiruoka-shop/shopping-bag.png";
import checkout from "@assets/lahiruoka-shop/checkout.png";
import success from "@assets/lahiruoka-shop/success.png";
import profile from "@assets/lahiruoka-shop/profile.png";
import editprofile from "@assets/lahiruoka-shop/edit-profile.png";
import orders from "@assets/lahiruoka-shop/orders.png";
import orderhistory from "@assets/lahiruoka-shop/order-history.png";
import OverlayLink from "@components/overlay-link.astro";
---

<PortfolioLayout title="A Digital Service for Buying Local Food">
  <div class="flex flex-col items-center gap-8">
    <div class="w-full max-w-prose">
      <a href="/en" class="text-xl hover:text-primary-dark" aria-label="Go back to front page">{"<<"}</a>
    </div>
    <div class="w-full max-w-prose">
      <h1 class="text-3xl">A Digital Service for Buying Local Food</h1>
    </div>
    <p class="max-w-prose">
      REKO (Rejäl konsumtion - Fair consumption) is a model for selling and buying local food. Consumers get an
      opportunity to buy local food directly from food producers via a Facebook group. Consumers are then supposed to
      collect their order from an appointed location at a specific time. However, not everyone uses Facebook nor is
      comfortable with placing a public order. Producers would most likely get more customers if there was a compelling
      and user-friendly service for placing an order. I decided to experiment how a digital service meant for buying
      local food could look and feel like.
    </p>
    <p class="max-w-prose">
      In the front page, there is an opportunity to choose a location, where the customer wants to pick their order
      from. The site would also use location data that suggests a city, where the user can browse products. The user can
      always change the location from the header. Login and an option to register to the service are also available
      there.
    </p>
    <OverlayLink href={frontpage.src}>
      <Image loading="eager" src={frontpage} alt="Lähiruoka Shop front page: desktop and mobile views" />
    </OverlayLink>
    <OverlayLink href={changelocation.src}>
      <Image src={changelocation} alt="Change City option" />
    </OverlayLink>
    <OverlayLink href={register.src}>
      <Image src={register} alt="Register modal" />
    </OverlayLink>
    <p class="max-w-prose">
      After choosing a location, the user can see all the products and producers of the selected city. Products are
      arranged in categories and the amount of current products can be seen too. There is a search at the top of the
      page. There is also a section that introduces all the producers of the area.
    </p>
    <OverlayLink href={products.src}>
      <Image src={products} alt="Products view: desktop and mobile versions" />
    </OverlayLink>
    <OverlayLink href={producers.src}>
      <Image src={producers} alt="Producer list" />
    </OverlayLink>
    <OverlayLink href={producer.src}>
      <Image src={producer} alt="Producer page" />
    </OverlayLink>
    <p class="max-w-prose">
      When a category is selected, the user can see all the products available of the selected category. The name of the
      product is visible as well as its price per unit and price per kilogram. The user can either select the product to
      view the details of it or directly add it to the shopping basket.
    </p>
    <OverlayLink href={category.src}>
      <Image src={category} alt="Category view" />
    </OverlayLink>
    <p class="max-w-prose">
      Product page shows a description of the product, the producer, the locations where the product can be picked from,
      and available payment methods. The amount to be added to the shopping basket can be changed as well.
    </p>
    <OverlayLink href={product.src}>
      <Image src={product} alt="Product view" />
    </OverlayLink>
    <p class="max-w-prose">
      In the shopping basket the user can see a summary of the names, prices, and the amounts of the products added to
      the basket. Products can also be removed from the basket. Total price of the purchase can be seen at the bottom.
      The user can proceed to reserve the products, which then redirects to a checkout page.
    </p>
    <OverlayLink href={shoppingbag.src}>
      <Image src={shoppingbag} alt="Shopping basket" />
    </OverlayLink>
    <p class="max-w-prose">
      At the checkout page, the user has to choose a pickup location for the order. Info button with a question mark
      shows a tooltip that explains this to the user. The user can see the schedule of the next pickup distribution at
      available locations. After confirming the order, the user gets redirected to confirmation page.
    </p>
    <OverlayLink href={checkout.src}>
      <Image src={checkout} alt="Checkout page" />
    </OverlayLink>
    <OverlayLink href={success.src}>
      <Image src={success} alt="Confirmation page" />
    </OverlayLink>
    <p class="max-w-prose">
      The user gets an email of their order. If the user is logged in, they can also see their order from a profile
      page. The profile page has sections for account information, incoming pickups and order history. Account section
      contains the name and contact information of the user. The information can also be edited. In edit mode, the user
      can choose whether they want a receipt from their order to their email. Password can also be changed.
    </p>
    <OverlayLink href={profile.src}>
      <Image src={profile} alt="Profile page" />
    </OverlayLink>
    <OverlayLink href={editprofile.src}>
      <Image src={editprofile} alt="Edit profile view" />
    </OverlayLink>
    <p class="max-w-prose">
      The Incoming pickups section shows important information, such as time, date and location of the pickup, the
      summary of the order, and available payment methods. The Order history section displays the same information for
      all previous orders.
    </p>
    <OverlayLink href={orders.src}>
      <Image src={orders} alt="Order view" />
    </OverlayLink>
    <OverlayLink href={orderhistory.src}>
      <Image src={orderhistory} alt="Order history view" />
    </OverlayLink>
    <p class="max-w-prose">
      The project overall is an interactive prototype with hover states and transitions. The next step would be
      improving the design by arranging user testing sessions.
    </p>
    <a data-astro-reload href="#top" class="text-xl hover:text-primary-dark">Back to Top</a>
  </div>
</PortfolioLayout>
