---
import PortfolioLayout from "@layouts/portfolio-layout.astro";
import { Image } from "astro:assets";
import designTokens from "@assets/sw-14/design-tokens.png";
import applicationsDesktopAndMobile from "@assets/sw-14/applications-desktop-and-mobile.png";
import navOpenDesktopAndMobile from "@assets/sw-14/nav-open-desktop-and-mobile.png";
import personDesktopAndMobile from "@assets/sw-14/person-desktop-and-mobile.png";
import personDarkDesktopAndMobile from "@assets/sw-14/person-dark-desktop-and-mobile.png";
import productThemeExample from "@assets/sw-14/product-theme-example.png";
import productThemeExampleDark from "@assets/sw-14/product-theme-example-dark.png";
import figmaDesktop from "@assets/sw-14/figma-ui-desktop.png";
import figmaMobile from "@assets/sw-14/figma-ui-mobile.png";
import OverlayLink from "@components/overlay-link.astro";
---

<PortfolioLayout title="UI Redesign & Design Guidelines">
  <div class="flex flex-col items-center gap-8">
    <div class="w-full max-w-prose">
      <a href="/en" class="text-xl hover:text-primary-dark">{"<<"}</a>
    </div>
    <div class="w-full max-w-prose">
      <h1 class="text-3xl">UI Redesign & Design Guidelines</h1>
    </div>
    <p class="max-w-prose text-justify">
      My current employer decided to implement a new version of their product family's user interface. The products of
      the family are used in several different industrial sectors.
    </p>
    <div class="w-full max-w-prose text-zinc-600">
      <p class="mb-3 font-bold">The requirements set by my employer were:</p>
      <ul class="ml-6 list-disc">
        <li>The UI should look modern and pleasant</li>
        <li>A tree structure should not be used in the main navigation anymore</li>
        <li>It should look nothing like the previous version</li>
      </ul>
    </div>
    <div class="w-full max-w-prose text-zinc-600">
      <p class="mb-3 font-bold">In addition to the company requirements I also had some personal objectives:</p>
      <ul class="ml-6 list-disc">
        <li>User-centered design, especially taking into account the environment where the UI is used</li>
        <li>Ensuring that the learning curve of the new UI is as low as possible for existing customers</li>
        <li>Keeping accessibility in mind</li>
        <li>Designing the UI to look and work in a consistent way</li>
        <li>Adding usability enhancements to the user flows of the products, wherever possible</li>
      </ul>
    </div>
    <div class="w-full max-w-prose text-zinc-600">
      <p class="mb-3 font-bold">My main responsibilities throughout the project were:</p>
      <ul class="ml-6 list-disc">
        <li>Designing the new UI with Figma, prioritizing the main navigation and header</li>
        <li>
          Documenting design guidelines for a design system consisting of a list of design tokens and UI components
        </li>
        <li>Applying new color themes to the UI based on the product colors of the product family</li>
        <li>
          Styling the UI components and building a new layout with HTML, CSS, Sass, Bootstrap 5 and a bit of Vue.js
        </li>
      </ul>
    </div>
    <p class="max-w-prose text-justify">
      I started the design process with thorough research, especially for the new navigation, which was not supposed to
      be under a hamburger menu as a tree structure anymore. All fundamental design work was done in Figma. I designed
      both desktop and mobile versions of the UI. I also chose a new, modern icon set for the UI. I added design tokens
      including colors, font sizes, spacing, border radiuses and styles, icon sizes, shadows, opacity levels and
      animations in Figma. Next, based on the tokens I created the UI designs with interactions and appropriate
      animations. During the process I documented the guidelines of the design.
    </p>
    <OverlayLink href={designTokens.src}>
      <Image src={designTokens} alt="Design tokens for the new UI's design system" />
    </OverlayLink>
    <p class="max-w-prose text-justify">
      I designed a side navigation, where the user can pin applications and folders. In order from the top, there is a
      home page, applications page, and a plus button for adding a new application to the system. In desktop sizes, the
      navigation bar opens when hovered and the user can choose to lock it open. In the mobile counterpart, the
      navigation is instead opened from the hamburger menu located on top left. Pinned applications and folders are
      located under a divider. Applications view contains recently opened applications and all folders and applications
      of the system.
    </p>
    <p class="max-w-prose text-justify">
      The new header consists of, from left to right, the name of the page/application currently open, search field,
      mode selection switch, help button and user avatar. Mode selection switch is used to choose either light or dark
      mode of the UI. Help button navigates to the help page. User avatar functions as a button that opens a dropdown
      with three options - "Settings", "Messages" and "Sign out". Mode selection switch and the user avatar are located
      inside the navigation bar in narrow screen sizes.
    </p>
    <OverlayLink href={applicationsDesktopAndMobile.src}>
      <Image src={applicationsDesktopAndMobile} alt="Applications desktop and mobile views" />
    </OverlayLink>
    <OverlayLink href={navOpenDesktopAndMobile.src}>
      <Image src={navOpenDesktopAndMobile} alt="New side navigation opened" />
    </OverlayLink>
    <p class="max-w-prose text-justify">
      I also redesigned the table view used to manage large datasets in the system. I added features such as sorting and
      filtering rows, column pinning to the left or right side of the table and column visibility selection. The
      controls for the features appear by hovering or focusing the table header cells in desktop sizes. On small screens
      they can be found under three dots next to each table header cell.
    </p>
    <OverlayLink href={personDesktopAndMobile.src}>
      <Image src={personDesktopAndMobile} alt="New table design" />
    </OverlayLink>
    <p class="max-w-prose text-justify">
      A dark mode was also a requirement for the design. I chose dim color combinations, which would not strain eyes too
      much as the end users often operate in low-light environments. Below is an example of the table view with dark
      mode enabled. I also designed different color themes based on the product colors of the product family. An example
      from one of the product color themes with both light and dark mode can also be seen below.
    </p>
    <OverlayLink href={personDarkDesktopAndMobile.src}>
      <Image src={personDarkDesktopAndMobile} alt="Dark mode of table design" />
    </OverlayLink>
    <OverlayLink href={productThemeExample.src}>
      <Image src={productThemeExample} alt="Product theme example" />
    </OverlayLink>
    <OverlayLink href={productThemeExampleDark.src}>
      <Image src={productThemeExampleDark} alt="Dark mode of a product theme" />
    </OverlayLink>
    <p class="max-w-prose text-justify">
      I used perceivable color contrasts and combinations, considering color blind users. I also verified readability of
      text regularly to ensure accessibility. I added alternative text labels for non-text content whenever possible
      while creating or styling UI components. I followed basic UX principles - for instance, to make sure that
      navigating and finding content is easy and that the user can always determine where they are. I designed actions
      to be predictable and consistent to prevent users making mistakes such as accidentally deleting something. I
      regularly verified cross-browser compatibility.
    </p>
    <p class="max-w-prose text-justify">
      From the technical standpoint, the project was implemented with Vue.js. Bootstrap 5 was used as a component
      library. During the technical implementation, I structured the layout for the UI and did the theming and styling
      of it. I created new components too. I was already familiar with Bootstrap, but using a bit of Vue was new to me.
    </p>
    <p class="max-w-prose text-justify">
      The final results of my work were a comprehensive, interactive prototype of the UI, which included versions for
      desktop and mobile screen sizes, and six different color themes with support for both light and dark mode. I
      confirmed that the design guidelines and the implementation were in line with each other.
    </p>
    <OverlayLink href={figmaDesktop.src}>
      <Image src={figmaDesktop} alt="Figma view of desktop version" />
    </OverlayLink>
    <OverlayLink href={figmaMobile.src}>
      <Image src={figmaMobile} alt="Figma view of mobile version" />
    </OverlayLink>
    <p class="max-w-prose text-justify">
      The new design already received compliments from the project team and a few customers about its appeareance and
      usability enhancements. I was not able to completely get rid of the tree structure for the main menu, as it would
      have caused major usability issues. Instead, I created a file browser like view that presents a single layer of
      the tree at a time. The product development team agreed with this approach, so it was implemented according to my
      design. However, the new navigation is still more modern and significantly different than the old one. So far
      there has not been any development proposals yet as the UI has only recently been published. The development will
      continue in future based on the company needs and feedback received from users and employees.
    </p>
    <a data-astro-reload href="#top" title="Back to top" class="text-xl hover:text-primary-dark">Back to Top</a>
  </div>
</PortfolioLayout>
